.container{
	max-width: none;
	width: 100%;
}

#col1{
}

#col2{
	min-width: 500px;
	padding-left: 20px;
	padding-right: 5%;
}

#col2 * {
	padding: 2px;
	margin: 0;
}

#map{
        height: 500px;
        width: 500px;
}

#fields-view{
        border-left: 1px solid #666;
        float: right;
        padding: 10px 2%;
        width: 58%;
}

#users-view{
        border-left: 1px solid #666;
        float: right;
        padding: 10px 2%;
        width: 58%;
}

/*
#map-container{
    float: left;
    padding: 10px 1.5%;
    width: 30%;
}


#MeasurementParameters{
        padding: 10px;
}
*/

#map-container {
  float: left;
  padding: 0px 0px 10px 10%;
  width: 30%;
}

#MeasurementParameters {
	padding: 0;
}
div.related{
	padding-left: 5%;
	padding-right: 5%;
}
